root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = false
file_header_template = unset

# this. and Me. preferences
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# Expression-level preferences
dotnet_style_coalesce_expression = true:error
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:error
dotnet_style_object_initializer = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion

# Field preferences
dotnet_style_readonly_field = true:error

# Parameter preferences
dotnet_code_quality_unused_parameters = all:suggestion

# Suppression preferences
dotnet_remove_unnecessary_suppression_exclusions = none

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere = true:silent
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent

# Expression-bodied members
csharp_style_expression_bodied_accessors = when_on_single_line:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_indexers = when_on_single_line:silent
csharp_style_expression_bodied_lambdas = when_on_single_line:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = when_on_single_line:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check = true:error
csharp_style_pattern_matching_over_is_with_cast_check = true:error
csharp_style_prefer_not_pattern = true:error
csharp_style_prefer_pattern_matching = true:error
csharp_style_prefer_switch_expression = true:suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call = true:error

# Modifier preferences
csharp_prefer_static_local_function = true:error
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:silent

# Code-block preferences
csharp_prefer_braces = true:silent
csharp_prefer_simple_using_statement = true:suggestion

# Expression-level preferences
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_inlined_variable_declaration = true:error
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_throw_expression = true:error
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

# 'using' directive preferences
csharp_using_directive_placement = outside_namespace:silent

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping preferences
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

# .NET Analyzers

dotnet_diagnostic.AD0001.severity = error

dotnet_diagnostic.ASP0000.severity = error

dotnet_diagnostic.ASP0001.severity = error

dotnet_diagnostic.BL0002.severity = error

dotnet_diagnostic.BL0003.severity = error

dotnet_diagnostic.BL0005.severity = error

dotnet_diagnostic.BL0006.severity = error

dotnet_diagnostic.CA1000.severity = error

dotnet_diagnostic.CA1001.severity = error

dotnet_diagnostic.CA1002.severity = error

dotnet_diagnostic.CA1008.severity = suggestion

dotnet_diagnostic.CA1010.severity = error

dotnet_diagnostic.CA1012.severity = error

dotnet_diagnostic.CA1013.severity = error

dotnet_diagnostic.CA1016.severity = error

dotnet_diagnostic.CA1018.severity = error

dotnet_diagnostic.CA1024.severity = error

dotnet_diagnostic.CA1027.severity = error

dotnet_diagnostic.CA1028.severity = error

dotnet_diagnostic.CA1030.severity = error

dotnet_diagnostic.CA1031.severity = suggestion

dotnet_diagnostic.CA1032.severity = error

dotnet_diagnostic.CA1034.severity = error

dotnet_diagnostic.CA1036.severity = error

dotnet_diagnostic.CA1039.severity = error

dotnet_diagnostic.CA1040.severity = error

dotnet_diagnostic.CA1041.severity = error

dotnet_diagnostic.CA1043.severity = error

dotnet_diagnostic.CA1044.severity = error

dotnet_diagnostic.CA1050.severity = error

dotnet_diagnostic.CA1051.severity = error

dotnet_diagnostic.CA1052.severity = error

dotnet_diagnostic.CA1053.severity = error

dotnet_diagnostic.CA1054.severity = error

dotnet_diagnostic.CA1055.severity = error

dotnet_diagnostic.CA1056.severity = error

dotnet_diagnostic.CA1058.severity = error

dotnet_diagnostic.CA1060.severity = error

dotnet_diagnostic.CA1061.severity = error

dotnet_diagnostic.CA1062.severity = error

dotnet_diagnostic.CA1063.severity = error

dotnet_diagnostic.CA1064.severity = error

dotnet_diagnostic.CA1065.severity = error

dotnet_diagnostic.CA1066.severity = error

dotnet_diagnostic.CA1067.severity = error

dotnet_diagnostic.CA1068.severity = error

dotnet_diagnostic.CA1200.severity = error

dotnet_diagnostic.CA1303.severity = none

dotnet_diagnostic.CA1304.severity = error

dotnet_diagnostic.CA1305.severity = error

dotnet_diagnostic.CA1307.severity = error

dotnet_diagnostic.CA1308.severity = error

dotnet_diagnostic.CA1309.severity = error

dotnet_diagnostic.CA1401.severity = error

dotnet_diagnostic.CA1501.severity = error

dotnet_diagnostic.CA1502.severity = error

dotnet_diagnostic.CA1505.severity = error

dotnet_diagnostic.CA1506.severity = error

dotnet_diagnostic.CA1507.severity = error

dotnet_diagnostic.CA1508.severity = suggestion

dotnet_diagnostic.CA1707.severity = suggestion

dotnet_diagnostic.CA1708.severity = error

dotnet_diagnostic.CA1710.severity = error

dotnet_diagnostic.CA1711.severity = error

dotnet_diagnostic.CA1712.severity = error

dotnet_diagnostic.CA1714.severity = none

dotnet_diagnostic.CA1715.severity = error

dotnet_diagnostic.CA1716.severity = error

dotnet_diagnostic.CA1717.severity = error

dotnet_diagnostic.CA1720.severity = error

dotnet_diagnostic.CA1721.severity = error

dotnet_diagnostic.CA1724.severity = error

dotnet_diagnostic.CA1725.severity = error

dotnet_diagnostic.CA1800.severity = error

dotnet_diagnostic.CA1801.severity = error

dotnet_diagnostic.CA1802.severity = error

dotnet_diagnostic.CA1806.severity = error

dotnet_diagnostic.CA1810.severity = error

dotnet_diagnostic.CA1811.severity = error

dotnet_diagnostic.CA1812.severity = suggestion

dotnet_diagnostic.CA1813.severity = error

dotnet_diagnostic.CA1814.severity = error

dotnet_diagnostic.CA1815.severity = error

dotnet_diagnostic.CA1816.severity = error

dotnet_diagnostic.CA1819.severity = error

dotnet_diagnostic.CA1820.severity = error

dotnet_diagnostic.CA1821.severity = error

dotnet_diagnostic.CA1822.severity = suggestion

dotnet_diagnostic.CA1823.severity = error

dotnet_diagnostic.CA1824.severity = error

dotnet_diagnostic.CA1825.severity = error

dotnet_diagnostic.CA1826.severity = error

dotnet_diagnostic.CA1827.severity = error

dotnet_diagnostic.CA1828.severity = error

dotnet_diagnostic.CA1829.severity = error

dotnet_diagnostic.CA2000.severity = error

dotnet_diagnostic.CA2001.severity = error

dotnet_diagnostic.CA2002.severity = error

dotnet_diagnostic.CA2007.severity = error

dotnet_diagnostic.CA2008.severity = error

dotnet_diagnostic.CA2009.severity = error

dotnet_diagnostic.CA2010.severity = error

dotnet_diagnostic.CA2100.severity = error

dotnet_diagnostic.CA2101.severity = error

dotnet_diagnostic.CA2119.severity = error

dotnet_diagnostic.CA2153.severity = error

dotnet_diagnostic.CA2200.severity = error

dotnet_diagnostic.CA2201.severity = error

dotnet_diagnostic.CA2202.severity = error

dotnet_diagnostic.CA2207.severity = error

dotnet_diagnostic.CA2208.severity = error

dotnet_diagnostic.CA2211.severity = error

dotnet_diagnostic.CA2213.severity = error

dotnet_diagnostic.CA2214.severity = error

dotnet_diagnostic.CA2216.severity = error

dotnet_diagnostic.CA2217.severity = error

dotnet_diagnostic.CA2218.severity = error

dotnet_diagnostic.CA2219.severity = error

dotnet_diagnostic.CA2225.severity = error

dotnet_diagnostic.CA2226.severity = error

dotnet_diagnostic.CA2227.severity = error

dotnet_diagnostic.CA2229.severity = error

dotnet_diagnostic.CA2231.severity = error

dotnet_diagnostic.CA2234.severity = error

dotnet_diagnostic.CA2235.severity = error

dotnet_diagnostic.CA2237.severity = error

dotnet_diagnostic.CA2241.severity = error

dotnet_diagnostic.CA2242.severity = error

dotnet_diagnostic.CA2243.severity = error

dotnet_diagnostic.CA2244.severity = error

dotnet_diagnostic.CA2245.severity = error

dotnet_diagnostic.CA2246.severity = error

dotnet_diagnostic.CA3061.severity = error

dotnet_diagnostic.CA3075.severity = error

dotnet_diagnostic.CA3076.severity = error

dotnet_diagnostic.CA3077.severity = error

dotnet_diagnostic.CA3147.severity = error

dotnet_diagnostic.CA5350.severity = error

dotnet_diagnostic.CA5351.severity = error

dotnet_diagnostic.CA5359.severity = error

dotnet_diagnostic.CA5360.severity = error

dotnet_diagnostic.CA5361.severity = error

dotnet_diagnostic.CA5363.severity = error

dotnet_diagnostic.CA5364.severity = error

dotnet_diagnostic.CA5365.severity = error

dotnet_diagnostic.CA5366.severity = error

dotnet_diagnostic.CA5368.severity = error

dotnet_diagnostic.CA5369.severity = error

dotnet_diagnostic.CA5370.severity = error

dotnet_diagnostic.CA5371.severity = error

dotnet_diagnostic.CA5372.severity = error

dotnet_diagnostic.CA5373.severity = error

dotnet_diagnostic.CA5374.severity = error

dotnet_diagnostic.CA5376.severity = error

dotnet_diagnostic.CA5377.severity = error

dotnet_diagnostic.CA5378.severity = error

dotnet_diagnostic.CA5379.severity = error

dotnet_diagnostic.CA5380.severity = error

dotnet_diagnostic.CA5381.severity = error

dotnet_diagnostic.CA5384.severity = error

dotnet_diagnostic.CA5385.severity = error

dotnet_diagnostic.CA5397.severity = error

dotnet_diagnostic.CA9999.severity = error

dotnet_diagnostic.CS0078.severity = error

dotnet_diagnostic.CS0105.severity = error

dotnet_diagnostic.CS0108.severity = error

dotnet_diagnostic.CS0109.severity = error

dotnet_diagnostic.CS0114.severity = error

dotnet_diagnostic.CS0162.severity = error

dotnet_diagnostic.CS0164.severity = error

dotnet_diagnostic.CS0168.severity = error

dotnet_diagnostic.CS0183.severity = error

dotnet_diagnostic.CS0184.severity = error

dotnet_diagnostic.CS0197.severity = error

dotnet_diagnostic.CS0219.severity = error

dotnet_diagnostic.CS0251.severity = error

dotnet_diagnostic.CS0252.severity = error

dotnet_diagnostic.CS0253.severity = error

dotnet_diagnostic.CS0278.severity = error

dotnet_diagnostic.CS0279.severity = error

dotnet_diagnostic.CS0280.severity = error

dotnet_diagnostic.CS0282.severity = error

dotnet_diagnostic.CS0419.severity = error

dotnet_diagnostic.CS0420.severity = error

dotnet_diagnostic.CS0435.severity = error

dotnet_diagnostic.CS0436.severity = error

dotnet_diagnostic.CS0437.severity = error

dotnet_diagnostic.CS0440.severity = error

dotnet_diagnostic.CS0458.severity = error

dotnet_diagnostic.CS0464.severity = error

dotnet_diagnostic.CS0465.severity = error

dotnet_diagnostic.CS0469.severity = error

dotnet_diagnostic.CS0472.severity = error

dotnet_diagnostic.CS0473.severity = error

dotnet_diagnostic.CS0612.severity = error

dotnet_diagnostic.CS0618.severity = error

dotnet_diagnostic.CS0626.severity = error

dotnet_diagnostic.CS0628.severity = error

dotnet_diagnostic.CS0642.severity = error

dotnet_diagnostic.CS0652.severity = error

dotnet_diagnostic.CS0657.severity = error

dotnet_diagnostic.CS0658.severity = error

dotnet_diagnostic.CS0659.severity = error

dotnet_diagnostic.CS0660.severity = error

dotnet_diagnostic.CS0661.severity = error

dotnet_diagnostic.CS0665.severity = error

dotnet_diagnostic.CS0672.severity = error

dotnet_diagnostic.CS0675.severity = error

dotnet_diagnostic.CS0684.severity = error

dotnet_diagnostic.CS0693.severity = error

dotnet_diagnostic.CS0728.severity = error

dotnet_diagnostic.CS0809.severity = error

dotnet_diagnostic.CS0811.severity = error

dotnet_diagnostic.CS0824.severity = error

dotnet_diagnostic.CS1030.severity = error

dotnet_diagnostic.CS1058.severity = error

dotnet_diagnostic.CS1062.severity = error

dotnet_diagnostic.CS1064.severity = error

dotnet_diagnostic.CS1066.severity = error

dotnet_diagnostic.CS1072.severity = error

dotnet_diagnostic.CS1522.severity = error

dotnet_diagnostic.CS1570.severity = error

dotnet_diagnostic.CS1571.severity = error

dotnet_diagnostic.CS1572.severity = error

dotnet_diagnostic.CS1573.severity = error

dotnet_diagnostic.CS1574.severity = error

dotnet_diagnostic.CS1580.severity = error

dotnet_diagnostic.CS1581.severity = error

dotnet_diagnostic.CS1584.severity = error

dotnet_diagnostic.CS1587.severity = error

dotnet_diagnostic.CS1589.severity = error

dotnet_diagnostic.CS1590.severity = error

dotnet_diagnostic.CS1591.severity = error

dotnet_diagnostic.CS1592.severity = error

dotnet_diagnostic.CS1616.severity = error

dotnet_diagnostic.CS1633.severity = error

dotnet_diagnostic.CS1634.severity = error

dotnet_diagnostic.CS1635.severity = error

dotnet_diagnostic.CS1645.severity = error

dotnet_diagnostic.CS1658.severity = error

dotnet_diagnostic.CS1668.severity = error

dotnet_diagnostic.CS1685.severity = error

dotnet_diagnostic.CS1687.severity = error

dotnet_diagnostic.CS1690.severity = error

dotnet_diagnostic.CS1692.severity = error

dotnet_diagnostic.CS1695.severity = error

dotnet_diagnostic.CS1696.severity = error

dotnet_diagnostic.CS1697.severity = error

dotnet_diagnostic.CS1700.severity = error

dotnet_diagnostic.CS1701.severity = none

dotnet_diagnostic.CS1702.severity = error

dotnet_diagnostic.CS1710.severity = error

dotnet_diagnostic.CS1711.severity = error

dotnet_diagnostic.CS1712.severity = error

dotnet_diagnostic.CS1717.severity = error

dotnet_diagnostic.CS1718.severity = error

dotnet_diagnostic.CS1720.severity = error

dotnet_diagnostic.CS1723.severity = error

dotnet_diagnostic.CS1734.severity = error

dotnet_diagnostic.CS1735.severity = error

dotnet_diagnostic.CS1762.severity = error

dotnet_diagnostic.CS1927.severity = error

dotnet_diagnostic.CS1956.severity = error

dotnet_diagnostic.CS1957.severity = error

dotnet_diagnostic.CS1974.severity = error

dotnet_diagnostic.CS1981.severity = error

dotnet_diagnostic.CS1998.severity = error

dotnet_diagnostic.CS2002.severity = error

dotnet_diagnostic.CS2008.severity = error

dotnet_diagnostic.CS2023.severity = error

dotnet_diagnostic.CS2029.severity = error

dotnet_diagnostic.CS2038.severity = error

dotnet_diagnostic.CS3000.severity = error

dotnet_diagnostic.CS3001.severity = error

dotnet_diagnostic.CS3002.severity = error

dotnet_diagnostic.CS3003.severity = error

dotnet_diagnostic.CS3005.severity = error

dotnet_diagnostic.CS3006.severity = error

dotnet_diagnostic.CS3007.severity = error

dotnet_diagnostic.CS3008.severity = error

dotnet_diagnostic.CS3009.severity = error

dotnet_diagnostic.CS3010.severity = error

dotnet_diagnostic.CS3011.severity = error

dotnet_diagnostic.CS3012.severity = error

dotnet_diagnostic.CS3013.severity = error

dotnet_diagnostic.CS3014.severity = error

dotnet_diagnostic.CS3015.severity = error

dotnet_diagnostic.CS3016.severity = error

dotnet_diagnostic.CS3017.severity = error

dotnet_diagnostic.CS3018.severity = error

dotnet_diagnostic.CS3019.severity = error

dotnet_diagnostic.CS3021.severity = error

dotnet_diagnostic.CS3022.severity = error

dotnet_diagnostic.CS3023.severity = error

dotnet_diagnostic.CS3024.severity = error

dotnet_diagnostic.CS3026.severity = error

dotnet_diagnostic.CS3027.severity = error

dotnet_diagnostic.CS4014.severity = error

dotnet_diagnostic.CS4024.severity = error

dotnet_diagnostic.CS4025.severity = error

dotnet_diagnostic.CS4026.severity = error

dotnet_diagnostic.CS7033.severity = error

dotnet_diagnostic.CS7035.severity = error

dotnet_diagnostic.CS7080.severity = error

dotnet_diagnostic.CS7081.severity = error

dotnet_diagnostic.CS7082.severity = error

dotnet_diagnostic.CS7090.severity = error

dotnet_diagnostic.CS7095.severity = error

dotnet_diagnostic.CS8001.severity = error

dotnet_diagnostic.CS8002.severity = error

dotnet_diagnostic.CS8009.severity = error

dotnet_diagnostic.CS8012.severity = error

dotnet_diagnostic.CS8018.severity = error

dotnet_diagnostic.CS8021.severity = error

dotnet_diagnostic.CS8029.severity = error

dotnet_diagnostic.CS8032.severity = error

dotnet_diagnostic.CS8033.severity = error

dotnet_diagnostic.CS8034.severity = error

dotnet_diagnostic.CS8073.severity = error

dotnet_diagnostic.CS8094.severity = error

dotnet_diagnostic.CS8105.severity = error

dotnet_diagnostic.CS8123.severity = error

dotnet_diagnostic.CS8305.severity = error

dotnet_diagnostic.CS8321.severity = error

dotnet_diagnostic.CS8359.severity = error

dotnet_diagnostic.CS8360.severity = error

dotnet_diagnostic.CS8371.severity = error

dotnet_diagnostic.CS8383.severity = error

dotnet_diagnostic.CS8387.severity = error

dotnet_diagnostic.CS8424.severity = error

dotnet_diagnostic.CS8425.severity = error

dotnet_diagnostic.CS8509.severity = error

dotnet_diagnostic.CS8512.severity = error

dotnet_diagnostic.CS8513.severity = error

dotnet_diagnostic.CS8519.severity = error

dotnet_diagnostic.CS8520.severity = error

dotnet_diagnostic.CS8597.severity = error

dotnet_diagnostic.CS8600.severity = error

dotnet_diagnostic.CS8601.severity = error

dotnet_diagnostic.CS8602.severity = error

dotnet_diagnostic.CS8603.severity = error

dotnet_diagnostic.CS8604.severity = error

dotnet_diagnostic.CS8605.severity = error

dotnet_diagnostic.CS8606.severity = error

dotnet_diagnostic.CS8607.severity = error

dotnet_diagnostic.CS8608.severity = error

dotnet_diagnostic.CS8609.severity = error

dotnet_diagnostic.CS8610.severity = error

dotnet_diagnostic.CS8611.severity = error

dotnet_diagnostic.CS8612.severity = error

dotnet_diagnostic.CS8613.severity = error

dotnet_diagnostic.CS8614.severity = error

dotnet_diagnostic.CS8615.severity = error

dotnet_diagnostic.CS8616.severity = error

dotnet_diagnostic.CS8617.severity = error

dotnet_diagnostic.CS8618.severity = error

dotnet_diagnostic.CS8619.severity = error

dotnet_diagnostic.CS8620.severity = error

dotnet_diagnostic.CS8621.severity = error

dotnet_diagnostic.CS8622.severity = error

dotnet_diagnostic.CS8624.severity = error

dotnet_diagnostic.CS8625.severity = error

dotnet_diagnostic.CS8626.severity = error

dotnet_diagnostic.CS8629.severity = error

dotnet_diagnostic.CS8631.severity = error

dotnet_diagnostic.CS8632.severity = error

dotnet_diagnostic.CS8633.severity = error

dotnet_diagnostic.CS8634.severity = error

dotnet_diagnostic.CS8638.severity = error

dotnet_diagnostic.CS8643.severity = error

dotnet_diagnostic.CS8644.severity = error

dotnet_diagnostic.CS8645.severity = error

dotnet_diagnostic.CS8653.severity = error

dotnet_diagnostic.CS8654.severity = error

dotnet_diagnostic.CS8655.severity = error

dotnet_diagnostic.CS8656.severity = error

dotnet_diagnostic.CS8667.severity = error

dotnet_diagnostic.CS8669.severity = error

dotnet_diagnostic.CS8670.severity = error

dotnet_diagnostic.CS8714.severity = error

dotnet_diagnostic.CS8717.severity = error

dotnet_diagnostic.IDE0043.severity = error

dotnet_diagnostic.IDE0051.severity = error

dotnet_diagnostic.IDE0052.severity = error

dotnet_diagnostic.IDE0067.severity = error

dotnet_diagnostic.IDE0068.severity = error

dotnet_diagnostic.IDE0069.severity = error

dotnet_diagnostic.MVC1000.severity = error

dotnet_diagnostic.MVC1001.severity = error

dotnet_diagnostic.MVC1002.severity = error

dotnet_diagnostic.MVC1003.severity = error

dotnet_diagnostic.MVC1004.severity = error

dotnet_diagnostic.MVC1005.severity = error
